body {
  margin: 0;
  padding: 80px 24px 0 96px;
  background-color: rgb(248,248,248);
}
p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

/* Grid CSS - Start */
.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap:16px;
  row-gap: 40px;
}
@media (max-width: 750px) {
  .video-grid {
    grid-template-columns:1fr 1fr;
  }
}
@media (min-width:751px) and (max-width:999px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width:1000px) {
  .video-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/* Grid CSS - End */
/* Video Preview - Start */
.thumbnail-row {
  margin-bottom: 8px;
  position:relative;
}

.video-info-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}

.channel-picture {
  display: inline-block;
  vertical-align: top;
}

.video-info {
  display: inline-block;
  width: 200px;
}

.video-title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}
/* Video Preview - End */

/* Tags in Video Preview - Start */
.video-author {
  margin-bottom: 4px;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail {
  width: 100%;
}
/* Tags in Video Preview - End */
.video-time {
  background-color: black; 
  color: white;
  position: absolute;
  bottom:8px;
  right:5px;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}
.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -5px;
  right: -5px;
  color: white;
  background-color:rgb(200,0,0);
  font-family: Roboto, Arial;
  font-size: 11px;
  padding: 2px 5px;
  border-radius: 10px;
}
.sidebar {
  position:fixed;
  top:55px;
  left:0;
  right:0;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding: 5px 0 0 0;
}
.sidebar-link {
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover {
  background: rgb(235,235,235);
}
.sidebar-link img {
  height: 24px;
  margin-bottom: 4px;
}
.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 10px;
}



/* @media all and (min-width:1050px) {
  .video-info {
    width: 400px;
  }
} */



